# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log

# Node (frontend)
node_modules/
dist/
build/

# Vite
frontend/dist/

# Env variables
.env